venv
*.pyc
__pycache__
.vscode
private.py
aclImdb
test.py
.idea
results_2019-10-28.txt
results_2019-10-29.txt
results_2019-10-31.txt
results.txt
models_svm 
dist
build
cam_l90_sentiment_detection_review.egg-info
part_ii_svm/models_svm
part_ii_svm/experiments
results
tsne-python